<div class="container">
  <h3>Change Password</h3>

</div>

<div class="grid justify-content-center">
  <div class="col-12 md:col-6">
    <div class="card flex justify-content-center">
      <p-card header="Change Password">
        <form [formGroup]="updatePasswordReqDto" (ngSubmit)="onSubmit()">

          <div class="grid">
            <div class="col-12 md:col-4">
              <div class="mb-3">
                <label for="oldpassword" class="form-label">Old Password<span class="text-danger">*</span></label>
              </div>
            </div>
            <div class="col-12 md:col-4">
              <div class="mb-3">
                <p-password formControlName="oldPassword" [feedback]="false"></p-password>
              </div>
            </div>
          </div>

          <div class="grid">
            <div class="col-12 md:col-4">
              <div class="mb-3">
                <label for="newpassword" class="form-label">New Password<span class="text-danger">*</span></label>
              </div>
            </div>
            <div class="col-12 md:col-4">
              <div class="mb-3">
                <p-password formControlName="newPassword" [feedback]="false"></p-password>
              </div>
            </div>
          </div>

          <div class="grid ">
            <div class="col-12 md:col-4">
              <div class="mb-3">
                <label for="confirmpassword" class="form-label">Confirm Password<span
                    class="text-danger">*</span></label>
              </div>
            </div>
            <div class="col-12 md:col-4">
              <div class="mb-3">
                <p-password formControlName="confirmpassword" [feedback]="false"></p-password>
              </div>
            </div>
          </div>

          <app-button type="submit" label="Change Password" class="btn btn-primary" style="margin-right: 1rem;">
          </app-button>
          <app-button label="Cancel" routerLink="/dashboard" styleBtn="p-button-secondary"></app-button>

        </form>
      </p-card>

    </div>
  </div>
</div>
