<div class="container">
  <h3>Change Password</h3>
  <form [formGroup]="updatePasswordReqDto" (ngSubmit)="onSubmit()">
    <div class="row align-items-center">
      <div class="col-md-2">
        <div class="mb-3">
          <label for="oldpassword" class="form-label">Old Password<span class="text-danger">*</span></label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="mb-3">
          <input type="password" formControlName="oldPassword" class="form-control" id="oldpassword" required>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-2">
        <div class="mb-3">
          <label for="newpassword" class="form-label">New Password<span class="text-danger">*</span></label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="mb-3">
          <input type="password" formControlName="newPassword" class="form-control" id="newpassword" required>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-2">
        <div class="mb-3">
          <label for="confirmpassword" class="form-label">Confirm Password<span class="text-danger">*</span></label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="mb-3">
          <input type="password" class="form-control" id="confirmpassword" required>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-right: 1rem;">Change Password</button>
    <a routerLink="/dashboard" class="btn btn-secondary">Cancel</a>
  </form>
</div>
