<!-- <div class="container position-absolute top-50 start-50 translate-middle">
  <div class="card">
    <div class="card-header">
      <h3>Peraturan sebelum mengerjakan test</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          - Pastikan koneksi anda stabil
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          - Dilarang membuka tab lain selain tab ini
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          - Dilarang melihat referensi ataupun membaca
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          - Segala bentuk tindakan kecurangan akan langsung digagalkan
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          - Harap mengisi semua jawaban karena jawaban yang salah tidak mengurangi penilaian
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          - Jika semua sudah siap, silahkan menekan tombol Start Test
        </div>
      </div>
    </div>
    <div class="card-footer">
      <a type="button" class="btn btn-primary" routerLink="/questionanswers/create">Start Test</a>
    </div>
  </div>

</div> -->

<div class="card flex justify-content-center">
  <p-card header="Peraturan sebelum mengerjakan test">

    <div class="grid">
      <div class="col-12 md:col-12">
        - Pastikan koneksi anda stabil
      </div>
    </div>
    <div class="grid">
      <div class="col-12 md:col-12">
        - Dilarang membuka tab lain selain tab ini
      </div>
    </div>
    <div class="grid">
      <div class="col-12 md:col-12">
        - Dilarang melihat referensi ataupun membaca
      </div>
    </div>
    <div class="grid">
      <div class="col-12 md:col-12">
        - Segala bentuk tindakan kecurangan akan langsung digagalkan
      </div>
    </div>
    <div class="grid">
      <div class="col-12 md:col-12">
        - Harap mengisi semua jawaban karena jawaban yang salah tidak mengurangi penilaian
      </div>
    </div>
    <div class="grid">
      <div class="col-12 md:col-12">
        - Jika semua sudah siap, silahkan menekan tombol Start Test
      </div>
      <!-- <p-button label="Submit"></p-button> -->
      <p-button label="Start Test" routerLink="/questionanswers/create" styleClass="p-button-success"></p-button>
      <div class="card-footer">
      </div>
    </div>
  </p-card>
</div>
