<div class="card flex justify-content-center">
  <p-card header="Peraturan sebelum mengerjakan test">

    <div class="grid">
      <div class="col-12 md:col-12">
        - Soal yang anda kerjakan sebanyak {{questionTotal}} soal
      </div>
    </div>
    <div class="grid">
      <div class="col-12 md:col-12">
        - Start time : {{startTime}}
      </div>
    </div>
    <div class="grid">
      <div class="col-12 md:col-12">
        - End Time : {{endTime}}
      </div>
    </div>

    <div class="grid">
      <div class="col-12 md:col-12">
        - Jika semua sudah siap, silahkan menekan tombol Start Test
      </div>
      <!-- <p-button label="Submit"></p-button> -->
      <p-button label="Start Test" (click)="updateProgressStatusAndStart()" styleClass="p-button-success">
      </p-button>
    </div>
  </p-card>
</div>
