<pre>{{userInsertReqDto.value | json}}</pre>

<div class="grid flex justify-content-center">
  <div class="col-12 md:col-6">

    <p-card header="Create New User">
      <form [formGroup]="userInsertReqDto" (ngSubmit)="onSubmit()">
        <div class="grid align-items-center ">
          <div class="col-12 md:col-3">
            <div class="mb-3">
              <label for="email" class="form-label">Email<span class="text-red-500">*</span></label>
            </div>
          </div>
          <div class="col-12 md:col-9">
            <div class="mb-3 ">
              <input type="email" class="w-full" pInputText formControlName="userEmail" required />
            </div>
          </div>

          <div class="col-12 md:col-3">
            <div class="mb-3">
              <label for="roleFormControl" class="form-label">Role<span class="text-red-500">*</span></label>
            </div>
          </div>

          <div class="col-12 md:col-9">
            <div class="mb-3 ">
              <p-dropdown [options]="roles" styleClass="w-full" formControlName="roleCode" optionValue="roleCode"
                optionLabel="roleName" placeholder="Select Role">
              </p-dropdown>
            </div>
          </div>

          <div class="col-12 md:col-3">
            <div class="mb-3">
              <label for="fullname" class="form-label">Full Name<span class="text-red-500">*</span></label>
            </div>
          </div>

          <div class="col-12 md:col-9">
            <div class="mb-3 ">
              <input pInputText type="text" class="w-full" id="fullname" formControlName="fullName" required />
            </div>
          </div>

          <div class="col-12 md:col-3">
            <div class="mb-3">
              <label for="address" class="form-label">Address<span class="text-red-500">*</span></label>
            </div>
          </div>
          <div class="col-12 md:col-9">
            <div class="mb-3">
              <textarea pInputTextarea rows="2" cols="30" formControlName="address" required></textarea> </div>
          </div>

          <div class="col-12 md:col-3">
            <div class="mb-3">
              <label for="phone" class="form-label">Phone<span class="text-red-500">*</span></label>
            </div>
          </div>

          <div class="col-12 md:col-9">
            <div class="mb-3 ">
              <input pInputText type="text" class="form-control" id="phone" formControlName="phoneNo" required />
            </div>
          </div>

          <div class="col-12 md:col-3">
            <div class="mb-3">
              <label for="photo" class="form-label">Photo</label>
            </div>
          </div>

          <div class="col-12 md:col-9">
            <div class="mb-3">

              <p-fileUpload mode="basic" chooseLabel="Choose" #file accept="image/*"
                (onSelect)="fileUpload($event,file)">
              </p-fileUpload>
            </div>
          </div>

          <div class="col-12 md:col-6">
            <p-button type="submit" label="Submit"></p-button>
            <!-- <button type="submit" class="btn btn-primary" style="margin-right:1rem;">Submit</button> -->
            <p-button label="Cancel" styleClass="p-button-secondary" routerLink="/users"></p-button>
            <!-- <a type="button" class="btn btn-secondary" routerLink="/users">Cancel</a> -->
          </div>
        </div>
      </form>
    </p-card>
  </div>
</div>
