<pre>{{answerReqDto.value |json}}</pre>

<div class="grid justify-content-center">
  <div class="col-6">
    <p-card header="Questions">
      <form [formGroup]="answerReqDto" (ngSubmit)="onSubmit()">
        <div class="col-12" *ngFor="let q of answersReqDto.controls;let i=index;">
          <div formArrayName="data">
            <!-- Question -->
            <div class="grid">
              <div class="col-12 md:col-3">
                <div class="">
                  <label for="question1" class="form-label">Question</label>
                </div>
              </div>

              <div class="col-12 md:col-3">
                <div class="mb-3">
                  <label>{{questions[i].question}}</label>

                </div>
              </div>
            </div>

            <div class="grid">
              <div [formGroupName]="i">
                <div class="col-12 md:col-3">
                  <div class="mb-3">
                    <label for="answer1" class="form-label">Answer<span class="text-danger">*</span></label>
                  </div>
                </div>

                <!-- Option Answer -->
                <div class="col-12" *ngIf="questions[i].questionOptions != null" class="col-md-9">
                  <div class="mb-2">
                    <div class="col-12 md:col-9" *ngFor="let opt of questions[i].questionOptions"
                      class="field-checkbox">
                      <p-radioButton [inputId]="opt.optLabel" [value]="opt.questionOptionId"
                        formControlName="questionOptionId{{i}}" (onClick)="selected($event,i)"></p-radioButton>
                      <label [for]="i" class="ml-2">{{ opt.optLabel }}</label>
                    </div>
                  </div>
                </div>
                <!-- Essay Answer -->
                <div class="col-12 md:col-9" *ngIf="questions[i].questionOptions ==null" class="col-md-9">
                  <div class="mb-3">
                    <textarea pInputTextarea rows="1" cols="30" formControlName="essayAnswer" required></textarea>
                  </div>
                </div>
              </div>
            </div>



          </div>
        </div>

        <app-button typeBtn="submit" label="Submit"></app-button>
      </form>
    </p-card>
  </div>
</div>
